{% extends "baseapp/base.html" %}
{% load static %}

{% block content%}





<!-- <form method="post">
  {% csrf_token %}
  {{ form.new_password1.label_tag }} {{ form.new_password1 }}
  {{ form.new_password2.label_tag }} {{ form.new_password2 }}
  <button type="submit">Set New Password</button>
</form> -->
<div class="" style="width: 100%;">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container ">
      <a class="navbar-brand" id="logo" href="#">Universal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>
  <div class="container-fluid w-100 bg-dark d-flex justify-content-center align-items-center" style="height: 100vh;">


    <br>
    <div class="main  bg-light" style="padding: 10px 30px; border-radius: 10px; width: 40%;">
      <h2>Reset Password</h2>
      <p>Enter a new password for your account.</p>
      <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        
        <div style="width: 100%; margin-top: 30px; height: 40px;" class=" d-flex justify-content-end mb-3" ><button class="btn btn-primary" type="submit">Set New Password</button></div>
      </form>
    </div>

    <style>
      label,
      p {
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
    </style>

    {% endblock content %}